@{ 
    System.Data.DataTable dataTable = Model["DataTable"] as System.Data.DataTable;

}
<table id="prices">
    <tbody>
        <tr class="top">
            <th width="55%">Anlagegut</th>
            <th width="15%" class="right"><div align="center">Nutzungsdauer</div></th>
            <th width="15%" class="right"><div align="center">Tabelle</div></th>
            <th width="15%" class="right"><div align="center">Fundstelle</div></th>  
        
        </tr>
        @foreach (System.Data.DataRow row in dataTable.Rows)
        {
            <tr>
                <td>
                    @row["Text"]

                    @if (row["Text"].ToString() != row["Anlagegut"].ToString())
                    {
                        <br/><small>
                            (siehe @row["Anlagegut"])
                        </small>
                    }
                </td>
                <td class="right"><div align="center">@row["Nutzungsdauer"]</div></td>
                <td class="right"><div align="center">@row["Tabelle"]</div></td>
                <td class="right"><div align="center">@row["LdfNr"]</div></td>
               
            </tr>
        }
    </tbody>
</table>
