@{
    System.Data.DataTable dataTable = Model["DataTable"] as System.Data.DataTable;

}
   
@foreach (System.Data.DataRow row in dataTable.Rows)
{
    @switch (row["Lfd-Nr"].ToString().Split('.').Length)
    {
        case 0:
            <h2>@row["Lfd-Nr"] @row["Text"]</h2>
            break;
        case 1:
            <h3>@row["Lfd-Nr"] @row["Text"]</h3>
            break;
        case 2:
            <h4>@row["Lfd-Nr"] @row["Text"]</h4>
            break;
    }
}
